body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #000000;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.heading h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.center-wrapper {
    display: flex;            /* Use flexbox to center the content */
    justify-content: center;  /* Horizontally center the button container */
    align-items: center;      /* Vertically center the button container */
    height: 100vh;            /* Full viewport height */
}

.button-container {
    display: flex;           /* Align buttons horizontally */
    justify-content: center; /* Spread buttons evenly within container */
    gap: 50px;               /* Adds space between the buttons */
}

.btn {
    padding: 10px 20px;
    font-size: 21px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    color: #ee0101;
    background-color: #000000;
}

